.chatbot {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #007c69;
  align-items: center;
  margin-top: 100px;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 2px 1px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: #ffff;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #000000;
}

.msger-header-title {
  font-size: 18px;
}

.msger-header-options {
  float: right;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-text {
  word-wrap: break-word;
}

.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
  background-color: #ccc;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: #00c6a9;
  color: black;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
  width: 100%;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: #ddd;
}

.msger-send-btn {
  margin-left: 10px;
  background: #00c6a9;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.23s;
}

.msger-send-btn:hover {
  background: #007c69;
}

.msg-text h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.search {
  padding: 15px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#ser {
  padding: 10px 20px;
  background-color: #00c6a9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#ser:hover {
  background-color: #007c69;
}

.msg-text h4 {
  font-size: 1.3em;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
}

.msg-text p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.5;
}

.add_section {
  margin:5%;
  padding: 50px;
  background-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.map-carousal {
  text-align: center;
}

.intro {
  position: relative;
  overflow: hidden;
}

.animated-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  background-image: linear-gradient(90deg, #f0f0f0 0px, #d9d9d9 50%, #f0f0f0 100%);
  background-size: 200% 200%;
  animation: bg-animation 2s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.image {
  position: relative;
  margin-top: 20px;
}

.image img {
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  background-color: #00c6a9;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.overlay a:hover {
  background-color: #35787d;
}

.intro p, .intro h3 {
  font-family: 'Quicksand', sans-serif;
  color: #333;
  margin-top: 20px;
  animation: fadeInUp 1s forwards;
  opacity: 0;
}

.intro h2 {
  margin: 2%;
  font-size: 28px;
  color: #00c6a9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  animation: fadeInUp 1s forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image {
  position: relative;
  margin-top: 20px;
}

.image img {
  max-width: 700px;
  width: 80%;
  max-height: 500px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
}

.intro p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
  font-weight: 400;
}

.intro p:hover {
  color: #00c6a9;
}

.intro h3 {
  font-size: 24px;
  color: #00c6a9;
  margin-top: 20px;
  font-weight: 700;
}

.intro h3::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: #00c6a9;
  margin-top: 8px;
}

.explore-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00c6a9;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #35787d;
}
