body {
    background-color:#E1D9D1;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 500px;
    padding: 30px;
    margin-top: 50px;
    
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #00c6a9;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-header h2 {
    margin: 0;
}

.login-form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group.position-relative {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    margin-top: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}

.password-toggle-icon:hover {
    color: #333;
}

.btn-primary {
    background-color: #00c6a9;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-primary:hover {
    background-color: #00473c;
}

.login-footer {
    text-align: center;
    margin-top: 20px;
}

.login-footer a {
    color: #00c6a9;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}
