.search-bar {
     display: flex;
     justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5%;
    
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px 20px;
    border: 2px solid #00c6a9;
    border-radius: 20px;
    width: 500px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.search-bar input[type="text"]:focus {
    border-color: #00c6a9;
}

.search-bar .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #024b40;
    border-radius: 5px;
    background-color: #00c6a9;
    color: #fff;
    cursor: pointer;
}

.search-bar .button:hover {
    background-color: #024b40;
    border-color: #024b40;
}

.search-bar .button:active {
    background-color: #024b40;
    border-color: #00c6a9;
}




.pagination {
         display: flex;
         justify-content: center;
         margin-top: 20px;
      }
      .pagination a {
         display: inline-block;
         padding: 8px 16px;
         margin: 0 5px;
         background-color: #f4f4f4;
         color: #333;
         text-decoration: none;
         border-radius: 5px;
         transition: background-color 0.3s ease;
      }
      .pagination a:hover {
         background-color: #ddd;
      }
      .pagination a.active {
         background-color: #00c6a9;
         color: #fff;
      }
     